@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&display=swap");

:root {
  --background: #0093e9;
  --background-hover: #091540;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}
.flex {
  display: flex;
}

body {
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;

  text-align: center;
  background-color: var(--background);
}

label {
  display: none;
}

.counter {
  align-items: center;
  flex-direction: column;

  margin: 10px auto;
}

.painel {
  width: 90%;
  margin: 25px auto 0;
}

.buttons {
  width: 90%;
}

.buttons-painel {
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.controls-timer,
.controls-cronometro {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

button {
  padding: 10px 20px;

  border: none;
  color: var(--background);

  font-size: 20px;
  font-weight: 800;

  border-radius: 10px;
  width: 100%;

  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--background-hover);
  color: var(--white);
}

#message-loading {
  position: absolute;
  top: 5px;
  left: 50%;

  font-size: 16px;

  transform: translateX(-50%);
  color: white;
}

/*     TELA INICIAL     */
#page-inicial {
  margin: 50px auto;
}

.title-tela-inicial {
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.617);

  color: white;

  margin-bottom: 30px;
}

.buttons-tela-inicial {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  margin: 0 auto 30px;

  border-radius: 20px;
}

.buttons-tela-inicial button {
  align-items: center;
  justify-content: center;

  padding: 10px 20px;

  background-color: var(--background-hover);

  border-radius: 10px;
  border: 0;

  cursor: pointer;
}

.buttons-tela-inicial button img {
  width: 30px;
}

.buttons-tela-inicial button a {
  text-decoration: none;
  text-transform: uppercase;

  font-size: 12px;
  font-weight: 600;

  color: white;
}

/*    CRONOMÊTRO E TIMER    */
#painelCronometro,
#painelTimer {
  font-size: 20px;
  text-align: center;

  color: var(--white);

  border: 5px solid var(--white);
  border-radius: 10px;

  padding: 10px;
}

.home-page {
  justify-content: center;
  padding: 5px 10px;

  background-color: var(--background-hover);
}

.home-page svg {
  width: 30px;
}

/*     TIMER     */
.inputs {
  /* align-items: center; */
  justify-content: center;
  margin-top: 20px;
  gap: 5px;
  width: 90%;
}

.inputs input {
  height: 50px;

  padding: 10px 0;

  border-radius: 5px;
  border: none;

  background-color: var(--white);
  color: var(--background);

  text-align: center;

  font-size: 50px;

  width: 80px;
}

input::-webkit-inner-spin-button {
  display: none;
}

input:placeholder-shown {
  text-align: center;
  font-size: 8px;
  font-weight: 800;
}

input::placeholder {
  color: var(--background);
}

/*     MEDIA QUERIES     */

@media (min-width: 200px) {
  .title-tela-inicial {
    font-size: 35px;
  }

  .buttons-tela-inicial{
    width: 80%;
  }

  .buttons-tela-inicial button img {
    width: 40px;
  }

  .buttons-tela-inicial button a {
    font-size: 16px;
  }

  #painelTimer,
  #painelCronometro {
    font-size: 30px;
  }

  .inputs input {
    height: 65px;
  }

  input:placeholder-shown {
    text-align: center;
    font-size: 10px;
    font-weight: 800;
  }
}

@media (min-width: 300px) {
  #painelTimer,
  #painelCronometro {
    font-size: 40px;
  }

  .buttons {
    width: 80%;
  }
  .inputs input {
    height: 80px;
  }

  input:placeholder-shown {
    font-size: 10px;
  }
}

@media (min-width: 400px) {
  .title-tela-inicial {
    font-size: 50px;
  }

  .buttons-tela-inicial button img {
    width: 50px;
  }

  .buttons-tela-inicial button a {
    font-size: 24px;
  }

  #painelTimer,
  #painelCronometro {
    font-size: 50px;

    padding: 20px 30px;
  }

  .buttons {
    width: 70%;
  }
}

@media (min-width: 500px) {
  #painelTimer,
  #painelCronometro {
    font-size: 70px;

    padding: 20px 30px;
  }

  .buttons-painel button {
    font-size: 25px;
  }

  input:placeholder-shown {
    font-size: 12px;
  }
}

@media (min-width: 600px) {
  #page-inicial {
    width: 80%;
  }
  .buttons-tela-inicial {
    flex-direction: row;
    gap: 40px;
  }

  #painelTimer,
  #painelCronometro {
    font-size: 90px;

    padding: 20px 30px;
  }

  .controls-timer,
  .controls-cronometro {
    flex-direction: row;
    align-items: flex-start;
  }

  .inputs {
    width: 60%;
    align-items: flex-start;
  }

  .buttons button {
    width: 90%;
  }
}

@media (min-width: 700px) {
  .title-tela-inicial {
    font-size: 70px;
  }

  .buttons-tela-inicial button img {
    width: 60px;
  }

  .buttons-tela-inicial button a {
    font-size: 30px;
  }

  #painelTimer,
  #painelCronometro {
    font-size: 110px;

    padding: 20px 30px;
  }

  .buttons button {
    width: 80%;
  }
}

@media (min-width: 800px) {
  .inputs {
    width: 40%;
  }

  .buttons-painel {
    flex-direction: row;
    width: 90%;
  }

  .buttons-painel button {
    padding: 10px 20px;
    font-size: 22px;
  }
}

@media (min-width: 900px) {
  #painelTimer,
  #painelCronometro {
    font-size: 130px;

    padding: 20px 30px;
  }

  .inputs {
    width: 50%;
  }

  .inputs input {
    width: 90px;
    height: 90px;
  }

  input:placeholder-shown {
    font-size: 14px;
  }

  .buttons-painel button {
    font-size: 25px;
  }
}

@media (min-width: 1000px) {
  #painelTimer,
  #painelCronometro {
    font-size: 150px;

    padding: 20px 30px;
  }

  .inputs {
    width: 50%;
  }

  .inputs input {
    width: 100px;
    height: 100px;
  }

  input:placeholder-shown {
    font-size: 16px;
  }

  .controls-timer,
  .controls-cronometro {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  #painelTimer,
  #painelCronometro {
    font-size: 200px;

    padding: 20px 30px;
  }

  .buttons button {
    padding: 15px 20px;
  }
}

@media (min-width: 1500px) {
  #painelTimer,
  #painelCronometro {
    font-size: 30vh;

    padding: 20px 30px;
  }

  .buttons button {
    padding: 20px 20px;
    font-size: 30px;
  }
}

@media (min-width: 1920px) {
  #painelTimer,
  #painelCronometro {
    font-size: 30vh;

    padding: 20px 30px;
  }

  .buttons button {
    padding: 25px 20px;
  }
}

/*     KEIFRAMES    */
@keyframes pageTimerCima {
  0% {
    margin-top: 30px;
  }
  100% {
    margin-top: 40px;
  }
}
